{% extends 'base.html' %}
{% block content %}
<section class="max-w-4xl mx-auto">
    <h2 class="text-3xl font-bold mb-6">Sobre Mim</h2>
    <div class="bg-gray-800 p-6 rounded-xl shadow-md">
        <p class="mb-4">
            Olá! Me chamo <strong>Tiago Miranda</strong>, sou Desenvolvedor Full Stack apaixonado por transformar ideias em sistemas funcionais e eficientes. 
            Tenho experiência com <span class="text-yellow-400 font-semibold">Django, Python, JavaScript, Node.js, SQL</span> e muito mais.
        </p>
        <p class="mb-4">
            Gosto de trabalhar com projetos que envolvam desafio, criatividade e impacto real. Já atuei como Técnico de Suporte, desenvolvi sistemas internos para empresas e hoje estou focado em criar soluções escaláveis e bem estruturadas.
        </p>
        <p class="mb-4">
            Estou sempre aprendendo e evoluindo, estudando tecnologias modernas e buscando contribuir com projetos de valor. Minha missão é crescer como profissional e como pessoa, ajudando outras empresas a crescerem comigo.
        </p>
        <p>
           
            <strong>Email:</strong> tiagomiranda@email.com<br>
            <strong>LinkedIn:</strong> <a href="www.linkedin.com/in/tiago-miranda-dev" target="_blank" class="text-yellow-400 underline">linkedin.com/in/seu-perfil</a>
        </p>
    </div>
</section>
{% endblock %}
